.logoHome {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.btnRegUser {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}

.icono {
    padding-top: 20px;
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
}